.active { font-weight: bolder;}
*
{
  margin:0;
  padding: 0;
}
html,body{
  height:100%;
  width:100%;
  margin:0;
}
#MainHeaderContainer
{
  background-color: black;
}
#headerContainer
{
    width:954px;
    margin:0 auto;
    padding: 0;
    color:white;
    font-weight: bolder;
    font-size:20px;
    padding: 10px;
}
.MainLoginContainer
{
  width:954px;
  margin:0 auto;
  padding:0;
}
.AlignDivInline
{
  display: inline-block;
}
.AppMessages input
{
  border:2px lightgrey solid;
  background-color: inherit;
  font-weight: bolder;
  font-size: 20px;
  word-spacing: 5px;
}
.AppMessages
{
  padding:10px;
  margin:10px;
}
.LoginContainer
{
  margin: 40px;
  border:2px lightgrey solid;
  padding: 10px;
  background-color: lightgrey;
}
.form-group{
margin-bottom: 15px;
}
h1.title {
font-size: 50px;
font-family: 'Passion One', cursive;
font-weight: 400;
}
label{
margin-bottom: 15px;
}
.LoginContent
{
margin-left: 40px;
}
.app_btn
{
background-color: black;
color:white;
padding: 10px;
border:none;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
}
a:hover
{
text-decoration: underline;
}
#AppMenu
{
background-color: grey;
}
img
{
height:20px;
}
.complete
{
color:grey;
}
.overdue
{
color:red;
}
.normal
{
color:black;
}
.input-group datepicker
{
  height:30px;
}
#ViewContainer
{
  width:100%;height:100%;
}
#ViewContainer1
{
  height:100%;width:15%;display:inline-block;float:left;background-color: black;
}
#ViewContainer2
{
  width:75%;display:inline-block;border:1px;height:100%;
}
#HomePageContent
{
  background-color: lightgrey;
  border: 1px lightgrey solid;
  padding:10px;
  margin:10px;
}
.HomePageMenu a
{
  color:white;
  font-weight: bolder;
}
.HomePageMenu
{
  margin-bottom: 20px;
  color: white;
  padding:10px;
}
.ValidationMessages
{
  color: red;
  font-size: 10px;
  font-weight: bolder;
}
